.fixed-border-t1,
.fixed-border-b1 {
  position: relative;
}
.fixed-border-t1::after,
.fixed-border-b1::after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ebedf0;
  transform: scale(0.5);
}
.fixed-border-b1::after {
  border-bottom: 0;
  border-top: 1px solid #ebedf0;
}
