.van-sidebar {
  position: fixed;
  top: 1.22667rem;
  z-index: 2;
  bottom: 1.33333rem;
  background: #f7f8fa;
}
.van-card {
  margin: 12px;
  border-radius: 2px;
  padding: 12px;
}
.van-card__thumb img {
  border-radius: 0;
  width: 176px;
}
.van-card__thumb .cuxiao {
  width: 65px;
  position: absolute;
  right: 0;
  top: 0;
}
.van-card__bottom p {
  display: block;
}
.van-card__bottom ins {
  font-size: 0.42rem;
}
.van-card__bottom del {
  color: #c8c9cc;
}
.van-pull-refresh {
  overflow: visible;
}
.van-pull-refresh {
  margin-left: 160px;
}
