.config{
    position: relative;
}
.el-tabs{
    height: calc(100vh - 181px);
}
.el-tabs >>> .ql-editor{
    height: calc(100vh - 320px);
}
.el-button{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    height: 40px;
}